<h1>Rotten Mangoes</h1>
<% if current_user %>
  <%= link_to "Submit a movie!", new_movie_path %>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to submit a movie!</p>
<% end %>
<hr>

<%= form_tag movies_path, class: "form form-inline", method: 'get' do %>
  <div class="form-group">
    <%= label_tag "title" %>
    <%= text_field_tag "title" %>
  </div>
  <div class="form-group">
    <%= label_tag "director" %>
    <%= text_field_tag "director" %>
  </div>
  <div class="form-group">
    <%= select_tag "runtime_in_minutes", options_for_select([[""],["Under 90 minutes", 90], ["Between 90 and 120 minutes", 120], ["Over 120 minutes", 121]], params[:runtime_in_minutes]) %>
  </div>
  <div class="form-group">
    <%= submit_tag 'Search', class: "btn btn-primary" %>
  </div>
<% end %>

<hr>

<% @movies.each do |movie| %>
  <% if movie.image_url.nil? %>
    <%= link_to image_tag(movie.poster_image_url), movie_path(movie) %>
  <% else %>
    <%= image_tag movie.image_url(:thumb).to_s %>
  <% end %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <hr>
<% end %>